@import '_style0';

body {
    background-color: rgba(25, 49, 172, 0.837);
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
 }
.menu {
	&__container {
        margin: 0 auto;
        background-color: #000000;
        
     }
	&__row {
        padding: 0 25px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @media (max-width: 841px) {
            height: 60px;
        }
     }
	&__title { 
        color: rgb(210, 209, 209);
        font-size: 34px;
        padding: 10px;
        flex: 0 0 200px;
        @media (max-width: 1137px) {
            font-size: 30px;
            @media (max-width: 841px) {
                font-size: 28px;
                @media (min-width: 480px) and (max-width: 767px) {

                    @media (min-width: 320px) and (max-width: 479px) {

                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
    }
	&__links {
        height: 80px;
        flex: 0 1 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: 710px) {
           
        }
     }
	&__link {
        color: rgb(210, 209, 209);
        text-decoration: none;
        font-size: 30px;
        padding: 10px 25px;
        @media (max-width: 1137px) {
            font-size: 28px;
            @media (max-width: 841px) {
                font-size: 26px;
                padding: 8px 20px;
                @media (max-width: 710px) {
                    display: none;
                    @media (min-width: 320px) and (max-width: 479px) {

                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
     }

    &__burger {
        width: 28px;
        height: 26px;
        position: relative;
        display: none;
        cursor: pointer;
        @media (max-width: 710px) {
            display: block;
            padding: 0 10px;
        }
        &_slash1 {
            background-color: rgb(254, 254, 254);
            width: 28px;
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
        }
        &_slash2 {
            position: absolute;
            top: 12.5px;
            left: 0;
            background-color: rgb(254, 254, 254);
            width: 28px;
            height: 2px;
         }
        &_slash3 {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgb(254, 254, 254);
            width: 28px;
            height: 2px;
         }
     }
}
.main {
    flex: 1 0 auto;
    padding: 0 15px;
 }
.answors {
    
	&__container {
        width: 1100px;
        margin: 0 auto;
        @media (max-width: 1137px) {
            width: 820px;
            @media (max-width: 841px) {
                width: 740px;
                @media (max-width: 767px) {
                    width: 464px;
                    @media (max-width: 479px) {
                        width: 290px;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
        
     }
    &__title {
        max-width: 450px;
        margin: 0 auto;
        height: 60px;
        background: #ff9900dd;
        font-size: 41px;
        line-height: 25px;
        padding: 15px 0;
        margin-bottom: 30px;
        text-align: center;
        border-radius: 21px;
        color: rgb(25, 20, 20);
        @media (max-width: 1137px) {
            font-size: 35px;
            height: 55px;
            line-height: 22px;
            padding: 13px 0;
            max-width: 350px;
            @media (max-width: 841px) {
                font-size: 27px;
                height: 50px;
                line-height: 21px;
                padding: 12px 0;
                max-width: 300px;
                @media (max-width: 767px) {
                    font-size: 26px;
                    height: 45px;
                    line-height: 24px;
                    padding: 9px 0;
                    max-width: 280px;
                    @media (max-width: 479px) {
                        font-size: 25px;
                        height: 43px;
                        line-height: 24px;
                        padding: 9px 0;
                        max-width: 270px;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
    }
    &__list {
    }
	&__answor {
        width: 1100px;
        list-style-position: inside;
        list-style-type: decimal;
        background: #ff9900dc;
        border: 1.7px solid #000000;
        border-bottom: 1.7px solid black;
        font-size: 26px;
        padding: 7px;
        margin-bottom: 15px;
        position: relative;
        @media (max-width: 1137px) {
            max-width: 815px;
            @media (max-width: 841px) {
                max-width: 740px;
                font-size: 24px;
                @media (max-width: 767px) {
                    max-width: 456px;
                    font-size: 20px;
                    line-height: 24px;
                    padding-right: 45px;
                    @media (max-width: 479px) {
                        max-width: 290px;
                        font-size: 18px;
                        padding-right: 21px;
                        line-height: 21px;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
     }
    &__arrow {
            &:after {
                content: "";
                background: url('/img/arrows.svg') no-repeat;
                background-size: 45px 29px;
                width: 45px;
                height: 29px;
                position: absolute;
                bottom: 5px;
                right: 0;
                cursor: pointer;
                @media (max-width: 1137px) {
                    @media (max-width: 841px) {
                        background-size: 41px 26px;
                        width: 41px;
                        height: 26px;
                        position: absolute;
                        bottom: 5px;
                        right: 0;
                        @media (max-width: 767px) {
                            background-size: 35px 21px;
                            width: 35px;
                            height: 21px;
                            position: absolute;
                            bottom: 4px;
                            right: -3px;
                            @media (max-width: 479px) {
                                background-size: 27px 20px;
                                width: 27px;
                                height: 20px;
                                position: absolute;
                                bottom: 3px;
                                right: -3px;
                                @media (max-width: 320px) {
        
                                }
                            }
                        }
                    }
                }
                
        }
    }
	&__antwort {
        width: 1100px;
        font-size: 0;
        font-weight: 0;
        height: 0px;
        overflow: hidden;
        transition: 0.5s ease-in;
        @media (max-width: 1137px) {
            max-width: 815px;
            @media (max-width: 841px) {
                max-width: 740px;
                @media (max-width: 767px) {
                    max-width: 456px;
                    @media (max-width: 479px) {
                        max-width: 290px;
                        &:last-child {
                            margin-bottom: 15px;
                        }
                        @media (max-width: 320px) {
                        }
                    }
                }
            }
        }
        p {
            margin-bottom: 15px;
            &:last-child {
                margin: 0;
            }
        }
        &:last-child {
            margin-bottom: 95px;
            margin-bottom: 95px;
            @media (max-width: 1137px) {
                margin-bottom: 85px;
                @media (max-width: 841px) {
                    margin-bottom: 65px;
                    @media (max-width: 767px) {
                        margin-bottom: 55px;
                        @media (max-width: 479px) {
                            margin-bottom: 35px;
                            @media (max-width: 320px) {
        
                            }
                        }
                    }
                }
            }
        }

        
     }
     

     &__antwort-visible {
         p {
            color: black;
            font-size: 20px;
            font-weight: 400;
            line-height: 27px;
            @media (max-width: 1137px) {
                @media (max-width: 841px) {
                    font-size: 22px;
                    @media (max-width: 767px) {
                        font-size: 18px;
                        line-height: 24px;
                        @media (max-width: 479px) {
                            font-size: 15px;
                            line-height: 21px;
                            @media (max-width: 320px) {
    
                            }
                        }
                    }
                }
            }
         }
        transition: 0.5s ease-in;
        background-color: rgba(240, 246, 251, 0.935);
        padding: 17px;
        height: auto;
        margin-bottom: 15px;
        overflow: visible;
        img {
            width: 500px;
        }
        @media (max-width: 1137px) {
            img {
                width: 480px;
            }
            padding: 13px;
            @media (max-width: 841px) {
                img {
                    width: 460px;
                }
                padding: 10px;
                @media (max-width: 767px) {
                    img {
                        width: 360px;
                    }
                    padding: 10px;
                    @media (max-width: 479px) {
                        img {
                            width: 275px;
                        }
                        padding: 8px;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
        &:last-child {
            margin-bottom: 95px;
            @media (max-width: 1137px) {
                margin-bottom: 85px;
                @media (max-width: 841px) {
                    margin-bottom: 65px;
                    @media (max-width: 767px) {
                        margin-bottom: 55px;
                        @media (max-width: 479px) {
                            margin-bottom: 35px;
                            @media (max-width: 320px) {
        
                            }
                        }
                    }
                }
            }
            }
        }
     }

.footer {
    flex: 0 0 auto;
    height: 85px;
    text-align: center;
    img {
        margin: 0 15px 0 0;
        width: 50px;
        height: 50px;
        &:last-child {
            margin-left: 15px;
        }
    }
    @media (max-width: 1137px) {
        height: 75px;
        img {
            margin: 0 15px 0 0;
            width: 45px;
            height: 45px;
        }
        @media (max-width: 841px) {
            height: 65px;
        img {
            margin: 0 12px 0 0;
            width: 40px;
            height: 40px;
        }
            @media (max-width: 767px) {
                height: 55px;
                img {
                    margin: 0 10px 0 0;
                    width: 35px;
                    height: 35px;
                }
                @media (max-width: 479px) {
                    height: 45px;
                img {
                    margin: 0 8px 0 0;
                    width: 32px;
                    height: 32px;
                }
                    @media (max-width: 320px) {

                    }
                }
            }
        }
    }
}
///////////////// ниже викторина
.test {
	&__container {
        border-radius: 5px;
        width: 1000px;
        margin: 0 auto;
        height: auto;
        
        background: #ff9900dc;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 90px;
        align-items: center;
        border: 1.5px solid black;
        
        @media (max-width: 1137px) {
            width: 820px;
            margin-bottom: 70px;
            @media (max-width: 841px) {
                width: 740px;
                margin-bottom: 50px;
                @media (max-width: 767px) {
                    width: 464px;
                    margin-bottom: 30px;
                    @media (max-width: 479px) {
                        width: 290px;
                        margin-bottom: 15px;
                        
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
     }
	&__checks {
        width: 900px;
        display: flex;
        @media (max-width: 1137px) {
            width: 805px;
            @media (max-width: 841px) {
                width: 725px;
                @media (max-width: 767px) {
                    width: 452px;
                    @media (max-width: 479px) {
                        width: 276px;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
     }
	&__check-gray {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: #C4C4C4;
        border: 0.5px solid rgba(0, 0, 0, 0.41);
        margin: 25px 10px 25px 10px;
        @media (max-width: 1137px) {
            width: 35px;
            height: 35px;
            @media (max-width: 841px) {
                width: 32px;
                height: 32px;   
                @media (max-width: 767px) {
                    width: 28px;
                    height: 28px;  
                    @media (max-width: 479px) {
                        width: 26px;
                        height: 26px;  
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
     }
	.test__check-green {
        background-color: rgb(64, 182, 64);
     }
	&__check-red {
        background-color: rgb(225, 52, 52);
     }
	&__answor {
        padding: 25px;
        margin: 0 0 35px 0;
        width: 900px;
        text-align: left;
        border: solid black 1.5px;
        font-size: 24px;
        background-color: rgba(240, 246, 251, 0.935);
        border-radius: 5px;
        @media (max-width: 1137px) {
            width: 780px;
            font-size: 23px;
            line-height: 28px;
            padding: 23px 15px;
            margin: 0 0 33px 0;
            @media (max-width: 841px) {
                width: 690px;
                font-size: 22px;
                padding: 21px 13px;
                line-height: 26px;
                margin: 0 0 28px 0;
                @media (max-width: 767px) {
                    width: 422px;
                    font-size: 21px;
                    padding: 19px 10px;
                    line-height: 24px;
                    margin: 0 0 26px 0;
                    @media (max-width: 479px) {
                        width: 269px;
                        font-size: 20px;
                        padding: 17px 8px;
                        line-height: 22px;
                        margin: 0 0 22px 0;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
        
     }
	&__antworts {
        text-align: left;
        margin: 0 0 35px 0;
        @media (max-width: 1137px) {
            margin: 0 0 32px 0;
            @media (max-width: 841px) {
                margin: 0 0 28px 0;
                @media (max-width: 767px) {
                    margin: 0 0 25px 0;
                    @media (max-width: 479px) {
                        margin: 0 0 21px 0;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
     }
	&__antwort {
        list-style-type: upper-latin;
        list-style-position: inside;
        padding: 15px;
        margin-bottom: 24px;
        font-size: 18px;
        text-align: left;
        width: 750px;
        background-color: rgba(240, 246, 251, 0.935);
        border: 1px solid black;
        cursor: pointer;
        border-radius: 5px;
        @media (max-width: 1137px) {
            width: 710px;
            padding: 12px;
            margin-bottom: 22px;
            @media (max-width: 841px) {
                width: 620px;
                padding: 11px;
                margin-bottom: 19px;
                @media (max-width: 767px) {
                    width: 358px;
                    padding: 10px;
                    margin-bottom: 17px;
                    @media (max-width: 479px) {
                        width: 225px;
                        padding: 9px;
                        margin-bottom: 14px;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
        &:last-child{
            margin: 0;
        }
    }
    &__antwort-picked { 
        background: rgba(68, 233, 255, 0.93);
    }
	&__antwort-red {
        background-color: rgb(225, 52, 52);
     }
    &__antwort-gray { 
        background-color: rgb(193, 192, 192);
    }
	&__antwort-green { 
        background-color: rgb(64, 182, 64);
    }
	&__buttons {
        margin-bottom: 55px;
     }
	&__button-confirm {
        padding: 14px 68.5px;
        font-size: 21px;
        margin-right: 40px;
        border: 1px solid black;
        box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
        background: rgba(68, 233, 255, 0.93);
        border-radius: 5px;
        @media (max-width: 1137px) {
            padding: 13px 64.5px;
            font-size: 21px;
            @media (max-width: 841px) {
                padding: 11px 62.5px;
                font-size: 21px;
                @media (max-width: 767px) {
                    padding: 8px 64.5px;
                    font-size: 21px;
                    margin-right: 0px;
                    margin-bottom: 19px;
                    @media (max-width: 479px) {
                        padding: 6px 26.5px;
                        font-size: 19px;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
        &:active {
            box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
            transform: translateX(2px);
            transform: translateY(2px);
        }
     }
     &__button-confirm-gray {
        padding: 14px 68.5px;
        font-size: 21px;
        margin-right: 40px;
        border: 1px solid black;
        box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
        background: #BBBBB7;
        color: rgba(0, 0, 0, 0.56);
        border-radius: 5px;
        @media (max-width: 1137px) {
            padding: 13px 64.5px;
            font-size: 21px;
            @media (max-width: 841px) {
                padding: 11px 62.5px;
                font-size: 21px;
                @media (max-width: 767px) {
                    padding: 8px 64.5px;
                    font-size: 21px;
                    margin-right: 0px;
                    margin-bottom: 19px;
                    @media (max-width: 479px) {
                        padding: 6px 26.5px;
                        font-size: 19px;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
     }
	&__button-gray {
        padding: 14px 68.5px;
        font-size: 21px;
        margin-left: 40px;
        border: 1px solid black;
        box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
        background: #BBBBB7;
        color: rgba(0, 0, 0, 0.56);
        border-radius: 5px;
        @media (max-width: 1137px) {
            padding: 13px 64.5px;
            font-size: 21px;
            @media (max-width: 841px) {
                padding: 11px 62.5px;
                font-size: 21px;
                @media (max-width: 767px) {
                    padding: 8px 64.5px;
                    font-size: 21px;
                    margin-left: 0px;
                    margin-bottom: 19px;
                    @media (max-width: 479px) {
                        padding: 6px 26.5px;
                        font-size: 19px;
                        @media (max-width: 320px) {

                        }
                    }
                }
            }
        }
     }
	
	&__button-next-green {
        background-color: rgb(64, 182, 64);
        color: rgb(0, 0, 0);
        &:active {
            box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
            transform: translateX(2px);
            transform: translateY(2px);
        }
     }
  
    &__result {
        width: 322px;
        height: 340px;
        background: #ff9900;
        border: 1px solid black;
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 110px;
        display: none;
        position: absolute;
     }
     &__result_show {
        display: flex;
        align-items: center;
        flex-direction: column;
     }

    &__result-percent {
        font-size: 29px;
        margin-top: 40px;
     }

    &__result-diagramma {
        width: 280px;
        height: 35px;
        background: rgb(198, 196, 196);
        margin-top: 30px;
        margin-bottom: 50px;
        outline: 1px solid black;
        border-radius: 5px;
        font-size: 21px;
        line-height: 35px;
        color: black;
     }
     &__result-progress {
        font-size: 18px;
        width: 0px;
        height: 35px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 35px;
        color: white;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        overflow: hidden;
    }
    
    &__result__button-again {
        padding: 9px 55.5px;
        font-size: 21px;
        border: 1px solid black;
        box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
        background: rgba(68, 233, 255, 0.93);
        border-radius: 5px;
        margin-bottom: 25px;
        &:active {
            box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
            transform: translateX(2px);
            transform: translateY(2px);
        }
     }

    &__result__button-close {
        padding: 9px 55.5px;
        font-size: 21px;
        border: 1px solid black;
        box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
        background: rgba(255, 129, 66, 0.93);
        border-radius: 5px;
        margin-bottom: 30px;
        &:active {
            box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
            transform: translateX(2px);
            transform: translateY(2px);
        }
     }
}